html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(49, 50, 51);
    color: #fff;
    transition: background-color 500ms, color 500ms, 500ms;
}

main {
    min-height: calc(100% - 110px);
}


footer {
    padding: 15px 0 5px 0;
    font-family: initial;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 35px;
    font-size: small;
    color: #556677;
}

footer a {
    color: #556677;
}

input, button, select {
    font-size: 14px;
    background-color: #515253;
    border: #556677 1px solid;
    border-radius: 15px;
    margin: 10px 0;
}

input {
    height: 22px;
    width: 188px;
    padding: 3px 5px;
}

input:hover, button:hover, select:hover {
    background-color: #ddeeff;
    border-color: #26a0da; 
}

select:hover {
    border-radius: 15px 0 0 15px;
}

button, select {
    height: 30px;
    width: 200px;
    padding: 5px 5px;
}

h1 {
    margin: auto;
    padding: 22px;
}

pre {
    text-align:left;
    width: fit-content;
    margin: auto;
}

table {
    text-align: right;
    margin: auto;
}

table button, select {
    width: 165px;
}

table input {
    width: 40px;
    padding-left: 10px;
}

td {
    height: 50px;
    padding: 0 5px;
}

td:nth-child(2) {
    text-align: left;
}

th {
    padding: 50px 0 0 0;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

#divPrincipal {
    display: block;
}

#divJogo {
    display: none;
}

#divConfig {
    display: none;
    padding-bottom: 65px;
}

#divPerdeu {
    display: none;
    padding-top: calc(100px);
}

#lblPerdeu {
    padding-bottom: 50px;
}

#chkPiscaFundo {
    width: 14px;
}

#divDica {
    display: none;
}

#divTemaCustom label{
    position: relative;
    bottom: 6px;
}

#divTemaCustom input {
    margin: 0;
    padding: 0 5px;
    width:60px;
    height: 30px;
}

#divTemaCustom #btnAplicar {
    margin-top: 30px;
}

#chkDica {
    width: 13px;
    position: relative;
    height: auto;
}

#letra {
    width: 40px;
    text-align: center;
}

#lblForca {
    font-size: 50px;
    padding: 0 50px;
} 

#btnSair {
    position: relative;
    bottom: 0;
}

#bonecoPrincipal {
    margin-top: 20px;
    font-size: 14px;
}

#btnTestar {
    width: 144px;
}